@import url(component.css);
* {
  margin: 0;
  padding: 0; }

html, body {
  font-family: "Open Sans", sans-serif; }

.intitle h1 {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: 1.5px; }
.intitle h5 {
  font-size: 18px;
  color: #90929E;
  line-height: 1.2;
  font-weight: 500;
  margin-left: 5px;
  letter-spacing: 1.5px; }

.content .title {
  max-width: 370px;
  padding: 0 50px  50px 0; }
  .content .title h1 {
    font-size: 42px !important;
    font-weight: 550;
    color: #3E4567;
    line-height: 1.2; }
.content .subtitle {
  font-size: 16px;
  max-width: 300px; }
  .content .subtitle p {
    color: #9292A1;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 1.2px;
    font-family: "Open Sans", sans-serif; }

.title-image {
  padding: 10px 0; }
  .title-image img {
    height: 45px; }

header {
  position: fixed;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  clear: both;
  z-index: 9999999;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  padding: 10px 0; }
  header.active {
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.02);
    -moz-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.02);
    -o-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.02);
    -ms-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.02);
    max-height: 85px;
    padding: 5px 0;
    background: #fff; }
    header.active nav ul li {
      padding: 10px 0px;
      -webkit-transition: 0.2s ease-in-out;
      -moz-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
      -ms-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out; }
      header.active nav ul li:hover > a {
        background: transparent !important; }
      header.active nav ul li.button {
        padding: 0px 0px !important; }
        header.active nav ul li.button a {
          padding-right: 0px; }
        header.active nav ul li.button:hover a button {
          color: #fff;
          background: #D41555;
          -webkit-transition: 0.2s ease-in-out;
          -moz-transition: 0.2s ease-in-out;
          -o-transition: 0.2s ease-in-out;
          -ms-transition: 0.2s ease-in-out;
          transition: 0.2s ease-in-out; }
    header.active .navbar-brand {
      padding: 20px 0; }
      header.active .navbar-brand img {
        height: 27px; }
  header .navbar-brand {
    padding: 20px 0;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    transition: 0.3s ease; }
    header .navbar-brand img {
      height: 30px;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      transition: 0.3s ease; }
  header nav ul li {
    padding: 15px 0px;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    transition: 0.3s ease; }
    header nav ul li a {
      text-decoration: none;
      color: #8F92A0;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      -webkit-transition: 0.2s ease-in-out;
      -moz-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
      -ms-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out; }
      header nav ul li a:hover {
        background: transparent !important; }
        header nav ul li a:hover button {
          color: #fff !important; }
    header nav ul li.button {
      padding: 3px 0; }
      header nav ul li.button a {
        padding-right: 0px !important; }
      header nav ul li.button button {
        background: #E62E6A;
        color: #fff;
        padding: 10px 30px;
        font-weight: 600;
        font-size: 14px;
        font-family: "Open Sans", sans-serif; }

section.banner {
  background-image: url(../images/bg-banner-ellipse.png);
  background-position: right top;
  background-size: auto 100%;
  padding-top: 100px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block; }
  section.banner .banner-sub {
    padding: 15px 0; }
  section.banner .banner-button {
    padding: 20px 0; }
    section.banner .banner-button button {
      background: #223486;
      padding: 15px 40px;
      border: 0;
      cursor: pointer;
      border-radius: 2.5px;
      font-weight: 550;
      color: #fff;
      font-size: 14px;
      -webkit-transition: 0.2s ease;
      -moz-transition: 0.2s ease;
      -o-transition: 0.2s ease;
      -ms-transition: 0.2s ease;
      transition: 0.2s ease; }
      section.banner .banner-button button:focus {
        outline: 0; }
      section.banner .banner-button button:hover {
        background: #10226E; }
  section.banner .static-bg-banner {
    min-height: 700px;
    display: block;
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: center right;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: #3E4466; }
    section.banner .static-bg-banner .banner-content {
      padding: 100px 0 100px 0; }
      section.banner .static-bg-banner .banner-content .banner-text {
        max-width: 340px;
        position: relative;
        z-index: 999; }
  section.banner .banner-image {
    max-height: 700px;
    padding-top: 50px; }
    section.banner .banner-image img {
      max-height: 700px;
      float: right;
      position: relative;
      right: -300px; }

section.about-modomu {
  background-image: url(../images/bg-merah.png);
  padding: 90px 0 60px 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
  background-position: left; }
  section.about-modomu .intitle {
    max-width: 600px;
    margin: 0 auto; }
    section.about-modomu .intitle h1 {
      font-size: 42px;
      color: #3E4567; }
    section.about-modomu .intitle .subtitle {
      padding-top: 20px; }
      section.about-modomu .intitle .subtitle p {
        font-weight: 550;
        line-height: 1.7;
        color: #A0A2AD; }
    section.about-modomu .intitle h5 {
      font-size: 14px;
      color: #90929E;
      line-height: 1.7;
      letter-spacing: auto; }

section.list-profile {
  padding: 100px 0; }
  section.list-profile .content-profile {
    border-bottom: 10px solid transparent;
    border-radius: 2.5px;
    overflow: hidden;
    padding: 40px;
    box-sizing: border-box;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    transition: 0.4s ease; }
    section.list-profile .content-profile:hover {
      box-shadow: 0px 10px 70px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 10px 70px 0px rgba(0, 0, 0, 0.1);
      -o-box-shadow: 0px 10px 70px 0px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0px 10px 70px 0px rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 0px 10px 70px 0px rgba(0, 0, 0, 0.1);
      border-color: #E62E6A; }
    section.list-profile .content-profile .profile-image img {
      height: 45px; }
    section.list-profile .content-profile .profile-title {
      padding-bottom: 10px; }
      section.list-profile .content-profile .profile-title h3 {
        font-weight: 600;
        color: #42486A; }
    section.list-profile .content-profile .profile-data {
      min-height: 130px;
      max-height: 170px;
      color: #A9ACB5; }
      section.list-profile .content-profile .profile-data p {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.7;
        font-weight: 500; }

section.pansos {
  background-image: url(../images/bg-merah-besar-kkanan.png);
  padding: 90px 0 220px 0;
  background-position: top right;
  background-size: auto 110%;
  background-repeat: no-repeat; }
  section.pansos .title {
    max-width: 500px; }
    section.pansos .title h1 {
      line-height: 1.4; }
  section.pansos .pansos-text {
    float: left;
    max-width: 400px;
    padding: 200px 0; }
  section.pansos .pansos-content {
    float: right;
    min-width: 650px;
    padding-right: 7	0px;
    max-width: 700px; }
    section.pansos .pansos-content .boxed-list {
      padding-top: 100px; }
      section.pansos .pansos-content .boxed-list .boxed-content {
        padding: 0px 20px; }
        section.pansos .pansos-content .boxed-list .boxed-content:last-child {
          margin-top: -150px; }
        section.pansos .pansos-content .boxed-list .boxed-content .boxed-area {
          display: block; }
          section.pansos .pansos-content .boxed-list .boxed-content .boxed-area .boxed {
            padding: 20px 0; }
            section.pansos .pansos-content .boxed-list .boxed-content .boxed-area .boxed .boxed-stat {
              background: #fff;
              padding: 60px 40px  0px 40px;
              box-sizing: border-box;
              min-height: 310px;
              border-radius: 2.5px;
              overflow: hidden;
              box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
              -moz-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
              -o-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
              -webkit-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
              -ms-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1); }
            section.pansos .pansos-content .boxed-list .boxed-content .boxed-area .boxed .boxed-image {
              padding-bottom: 30px; }
              section.pansos .pansos-content .boxed-list .boxed-content .boxed-area .boxed .boxed-image img {
                height: 40px; }
            section.pansos .pansos-content .boxed-list .boxed-content .boxed-area .boxed .boxed-text {
              max-width: 100px; }
              section.pansos .pansos-content .boxed-list .boxed-content .boxed-area .boxed .boxed-text p {
                font-size: 18px;
                font-weight: 700;
                color: #3E4567;
                line-height: 1.9; }

section.admin {
  margin-top: -50px;
  overflow: hidden;
  padding-bottom: 50px; }
  section.admin .container {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 0px; }
  section.admin p {
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 1.2px; }
  section.admin .container {
    overflow: hidden; }
  section.admin .panel-text {
    padding-top: 120px;
    padding-left: 50px; }
  section.admin .title {
    width: 100%;
    max-width: 500px; }
  section.admin .panel-image {
    padding: 0 !important; }
    section.admin .panel-image img {
      float: left;
      height: 600px; }

section.fb {
  padding: 100px 0;
  overflow: hidden; }
  section.fb .fb-image img {
    height: 550px;
    position: relative; }

section.transaction {
  padding: 100px 0 130px 0;
  overflow: hidden; }
  section.transaction .transtext {
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(rgba(252, 254, 253, 0.7), #fff); }
  section.transaction .image-content img {
    max-height: 600px;
    float: left; }

section.started {
  background-image: url(../images/bg-jpg-merah.jpg);
  background-position: center;
  background-size: cover;
  padding: 100px 0px 50px 0px;
  background-repeat: no-repeat; }
  section.started .subtitle {
    padding: 20px 0 0 0;
    max-width: 850px;
    margin: 0 auto; }
  section.started p {
    font-size: 16px;
    color: #CA4C75;
    line-height: 1.7; }
  section.started .stared-text {
    max-width: 1000px;
    margin: 0 auto; }
    section.started .stared-text h1 {
      font-size: 40px;
      color: #fff;
      font-weight: 500; }
  section.started .button-area {
    padding: 50px 0;
    width: 100%; }
    section.started .button-area button {
      margin: 0 auto;
      display: flex;
      background: #fff;
      border: 0;
      padding: 15px 40px;
      border-radius: 2.5px;
      overflow: hidden;
      color: #B62852;
      font-size: 14px;
      font-weight: 600;
      -webkit-transition: 0.2s ease;
      -moz-transition: 0.2s ease;
      -o-transition: 0.2s ease;
      -ms-transition: 0.2s ease;
      transition: 0.2s ease; }
      section.started .button-area button:hover {
        background: #DED5D8; }

section.about p {
  line-height: 1.8; }
section.about .about-text {
  margin: 0 auto;
  max-width: 700px;
  padding: 100px 0; }
  section.about .about-text div {
    margin: 0 auto; }
section.about .title {
  padding: 0px;
  padding-bottom: 20px;
  width: 100%;
  max-width: 100%; }
section.about .subtitle {
  padding-top: 0px;
  width: 100%;
  max-width: 100%; }

section.mocup {
  background-image: url(../images/circlebg.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 950px auto; }
  section.mocup .et-mc-bg-b {
    background-image: url(../images/bg-merah-kecil.png);
    background-position: right 350px;
    background-repeat: no-repeat;
    background-size: auto 250px; }
  section.mocup .mocup-image {
    padding-bottom: 100px;
    margin-top: -60px; }
    section.mocup .mocup-image img {
      width: 100%; }
  section.mocup .modomu-list {
    padding: 100px 0px 80px 0; }
  section.mocup .page-sub-list {
    overflow: hidden;
    border: 1.2px solid #CDD1D9;
    margin: 30px 0;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    transition: 0.2s ease; }
    section.mocup .page-sub-list.active {
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
      -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
      -o-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
      -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
      -ms-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07); }
    section.mocup .page-sub-list .page-head {
      padding: 0 30px;
      height: 100px;
      align-items: center;
      vertical-align: middle;
      display: flex;
      overflow: hidden; }
    section.mocup .page-sub-list .title-area {
      float: left;
      width: calc(100% - 50px);
      padding-right: 20px; }
      section.mocup .page-sub-list .title-area h2 {
        color: #414969;
        font-size: 20px;
        font-weight: 550;
        line-height: 1.2; }
    section.mocup .page-sub-list .button-area {
      float: right;
      width: 50px;
      overflow: hidden;
      padding-top: 10px; }
      section.mocup .page-sub-list .button-area button {
        background: transparent;
        border: none;
        color: #A3A5B0;
        float: right;
        font-size: 16px; }
        section.mocup .page-sub-list .button-area button:active, section.mocup .page-sub-list .button-area button:focus {
          outline: 0; }
  section.mocup .page-content {
    display: none; }
    section.mocup .page-content p {
      font-size: 14px;
      padding: 0 30px 30px 30px;
      letter-spacing: 1.2px;
      line-height: 1.8;
      color: #9597A4;
      font-weight: 50;
      font-weight: 500; }

section.fack {
  background-image: url(../images/bg-CTA.png);
  padding: 100px 0 80px 0;
  background-position: center;
  background-size: cover; }
  section.fack .title {
    max-width: 400px; }
    section.fack .title h1 {
      color: #B00941; }
  section.fack .buttonare {
    padding: 50px 0;
    height: 100%;
    overflow: hidden; }
  section.fack button {
    padding: 15px 40px;
    background: #B00941;
    border: 0;
    overflow: hidden;
    color: #fff;
    font-weight: 600;
    border-radius: 2.5px;
    float: right;
    border: 0;
    cursor: pointer;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    transition: 0.2s ease; }
    section.fack button:focus {
      outline: 0; }
    section.fack button:hover {
      background: #9E0035; }

footer {
  background: #1A1E29;
  padding-top: 100px; }
  footer .footer-nav {
    padding: 0px 0;
    padding-bottom: 50px; }
  footer img {
    height: 30px; }
  footer .footer-line {
    background: #222733;
    width: 100%;
    height: 1.2px;
    display: block; }
  footer .foot-nav-list {
    float: left;
    width: 20%;
    overflow: hidden; }
    footer .foot-nav-list ul li {
      padding: 8px 0; }
      footer .foot-nav-list ul li:first-child {
        padding-bottom: 15px; }
      footer .foot-nav-list ul li span {
        font-weight: 600;
        text-transform: uppercase;
        color: #fff; }
      footer .foot-nav-list ul li a {
        text-decoration: none;
        color: #787E8A;
        font-weight: 550; }
  footer .nav-icon ul li i {
    color: #fff;
    float: left;
    font-size: 18px;
    width: 25px; }
    footer .nav-icon ul li i.fa-mobile {
      font-size: 30px; }
  footer .nav-icon ul li p {
    color: #757B87;
    font-weight: 550; }
    footer .nav-icon ul li p.mobil {
      padding-bottom: 0px;
      margin-bottom: 0px; }
    footer .nav-icon ul li p.open {
      color: #545961;
      margin-left: 25px;
      padding: 0px;
      font-size: 12px;
      margin-top: 0px;
      margin-bottom: 0px; }
  footer .social ul li {
    float: left;
    padding: 0px 10px; }
    footer .social ul li:first-child {
      padding-left: 0px; }
    footer .social ul li a {
      text-decoration: none; }
      footer .social ul li a:hover > i {
        background: #5C6578; }
    footer .social ul li i {
      color: #1A1E29;
      background: #717C92;
      -webkit-transition: 0.2s ease;
      -moz-transition: 0.2s ease;
      -o-transition: 0.2s ease;
      -ms-transition: 0.2s ease;
      transition: 0.2s ease;
      width: 25px;
      height: 25px;
      align-items: center;
      vertical-align: middle;
      display: flex;
      font-size: 19px;
      padding: 0px 5px; }
  footer .footer-copy {
    padding: 35px 0 30px 0; }
    footer .footer-copy p {
      font-size: 14px;
      color: #787E8A;
      font-weight: 550; }

.planer {
  padding: 200px 0 100px 0; }

.plan-list {
  font-weight: 550;
  position: relative; }
  .plan-list.popular {
    margin-top: -70px; }
    .plan-list.popular .icon-plan {
      background: #B70B44; }
  .plan-list .icon-plan {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    position: relative;
    justify-content: center;
    vertical-align: middle;
    align-items: center; }
    .plan-list .icon-plan img {
      height: 50px;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      position: relative;
      justify-content: center;
      vertical-align: middle;
      right: 0;
      bottom: 0; }
  .plan-list .popular-data {
    padding: 15px 0;
    width: 100%; }
    .plan-list .popular-data button {
      border: 0;
      cursor: pointer;
      border-radius: 25px;
      padding: 10px 50px;
      color: #B70B44;
      display: flex;
      margin: 0 auto;
      background: #FFDCE8; }
      .plan-list .popular-data button:focus {
        outline: 0; }
  .plan-list .plan-title {
    width: 100%;
    text-align: center;
    padding: 50px 0 20px 0;
    font-size: 18px;
    color: #5C5C5C;
    font-weight: 600; }
  .plan-list .plan-price {
    display: block;
    vertical-align: top;
    text-align: center;
    align-items: top;
    padding: 20px 40px;
    justify-content: center;
    padding: 0px 0px 40px 0;
    font-weight: 600;
    position: relative;
    color: #B70B44; }
    .plan-list .plan-price .money {
      font-size: 25px;
      position: relative;
      top: -20px; }
    .plan-list .plan-price .price {
      font-size: 60px; }
    .plan-list .plan-price .zero {
      font-size: 20px;
      position: relative;
      top: -20px;
      margin-left: -5px; }
    .plan-list .plan-price .month {
      font-size: 14px;
      color: #AFAFAF;
      font-weight: 550;
      margin-left: -45px; }
  .plan-list .feature-title {
    padding: 5px 0; }
    .plan-list .feature-title span {
      color: #B5B6BE; }
  .plan-list .button-area {
    width: 100%;
    padding: 40px 0 50px 0;
    position: relative;
    align-items: center;
    justify-content: center;
    align-content: center; }
    .plan-list .button-area button {
      background: #B70B45;
      border: 0;
      cursor: pointer;
      margin: 0 auto;
      position: relative;
      display: flex;
      justify-content: center;
      color: #fff;
      font-size: 14px;
      padding: 12px 40px;
      border-radius: 25px;
      -webkit-transition: 0.2s ease-in-out;
      -moz-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
      -ms-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out; }
      .plan-list .button-area button:focus {
        outline: 0; }
      .plan-list .button-area button:hover {
        background: #8C0834; }
  .plan-list .icon-plan {
    width: 130px;
    height: 130px;
    background: #FFDCE8;
    overflow: hidden;
    border-radius: 100%;
    margin-left: calc(50% - 65px);
    margin-top: -65px; }
  .plan-list .list-plan {
    padding: 0px 35px;
    border-radius: 2.5px;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
    background: #fff;
    border: 1px solid #E3E3E9; }
  .plan-list .feature-list ul li {
    float: none;
    width: 100%;
    clear: both;
    color: #444A6A;
    overflow: hidden;
    padding: 5px 0;
    font-weight: 550; }
    .plan-list .feature-list ul li .red {
      color: #B70B45;
      font-style: italic; }
    .plan-list .feature-list ul li div:first-child {
      width: 25px; }
      .plan-list .feature-list ul li div:first-child i {
        font-size: 18px;
        color: #2EB679; }
    .plan-list .feature-list ul li div:last-child {
      width: calc(100% - 25px); }

@media screen and (min-width: 1440px) {
  header {
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden; }

  .container-header {
    max-width: 1336px;
    overflow: hidden;
    margin: 0 auto; }

  body {
    margin: 0 auto;
    overflow-x: hidden; }

  section.banner .banner-image img {
    margin-right: -100px; } }
@media screen and (max-width: 1200px) {
  section.list-profile .content-profile {
    min-height: 450px;
    max-height: 450px; }

  section.pansos {
    background-size: auto 800px; }

  section.admin .panel-image img {
    height: auto;
    width: 100%; }

  section.pansos .pansos-content {
    max-width: calc(100% - 400px);
    min-width: calc(100% - 400px); } }
@media screen and (max-width: 1080px) {
  section.pansos .pansos-content {
    min-width: 500px;
    max-width: 500px; }

  section.pansos .title {
    max-width: 370px; }
    section.pansos .title h1 {
      font-size: 35px; }

  .content .title h1 {
    font-size: 35px; }

  .content .title {
    max-width: 400px;
    padding-right: 0px !important; }

  section.pansos .pansos-text {
    max-width: 370px; } }
@media screen and (max-width: 1080) and (min-width: 1060px) {
  .container {
    width: 1020px; } }
@media screen and (max-width: 999px) {
  section.banner .banner-image img {
    max-height: 600px; }

  .container-header {
    padding: 0px 30px; }

  .intitle h1 {
    font-size: 48px; }

  .intitle h5 {
    font-size: 16px; }

  section.transaction .image-content img {
    max-height: auto;
    width: 100%; } }
@media screen and (max-width: 949px) {
  section.pansos .pansos-content {
    max-width: calc(100% - 370px);
    min-width: calc(100% - 370px); } }
@media screen and (max-width: 900px) {
  .nav > li > a {
    padding-left: 10px;
    padding-right: 10px; } }
@media screen and (min-width: 820px) and (max-width: 1000px) {
  .container {
    width: 780px; } }
@media screen and (min-width: 900px) and (max-width: 1000px) {
  .container {
    width: 880px; } }
@media screen and (max-width: 90px) and (max-width: 1000px) {
  .container {
    width: 920px; }

  section.transaction .image-content img {
    max-height: auto;
    width: 100%; }

  .content .title {
    padding-right: 0px; } }
@media screen and (max-width: 991px) {
  .plan-list {
    margin: 100px 0 !important; } }
@media screen and (max-width: 799px) {
  .nav > li > a {
    padding-left: 6px;
    padding-right: 6px; }

  .container-header {
    padding: 0px 25px; } }
@media screen and (max-width: 767px) {
  .content .subtitle {
    max-width: 100%; }

  section.transaction .transtext {
    padding-left: 15px;
    padding-right: 15px; }

  header, header.active {
    position: fixed;
    background: #fff;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.02);
    -moz-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.02);
    -o-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.02);
    -ms-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.02);
    padding: 0px; }
    header .navbar, header.active .navbar {
      margin-bottom: 10px; }
    header .navbar-brand img, header.active .navbar-brand img {
      height: 30px; }
    header .navbar-nav li, header .navbar-nav li.button, header.active .navbar-nav li, header.active .navbar-nav li.button {
      padding: 0px;
      align-items: center;
      float: none; }
      header .navbar-nav li a, header .navbar-nav li.button a, header.active .navbar-nav li a, header.active .navbar-nav li.button a {
        padding-left: 0px; }
      header .navbar-nav li:first-child, header .navbar-nav li.button:first-child, header.active .navbar-nav li:first-child, header.active .navbar-nav li.button:first-child {
        padding-top: 20px; }

  section.banner .static-bg-banner .banner-content {
    padding-bottom: 0px;
    padding-top: 70px; }

  section.banner .static-bg-banner .banner-content .banner-text {
    margin: 0 auto; }
    section.banner .static-bg-banner .banner-content .banner-text * {
      text-align: center; }

  section.banner .banner-image {
    padding-top: 0px;
    overflow: hidden; }
    section.banner .banner-image img {
      right: 0px;
      width: 90%;
      position: static;
      transform: rotate(22deg);
      -webkit-transform: rotate(22deg);
      -o-transform: rotate(22deg);
      -ms-transform: rotate(22deg);
      -moz-transform: rotate(22deg); }

  .intitle h1 {
    font-size: 48px; }

  .container-header {
    padding: 0px 15px;
    background: #fff; }

  .navbar-toggle {
    margin-top: 20px;
    position: relative;
    z-index: 99; }

  section.list-profile .content-profile {
    min-height: 350px; }

  section.list-profile {
    padding: 70px 0; }

  section.pansos {
    padding-bottom: 50px; }

  section.pansos .pansos-text {
    padding: 0px 0px; }

  section.pansos .pansos-content .boxed-list .boxed-content:last-child {
    margin-top: 0px; }

  section.pansos .pansos-content {
    max-width: 100%;
    min-width: 100%; }

  section.admin .container {
    overflow: hidden;
    padding: 0px 15px; }
  section.admin .panel-image img {
    max-width: 90%; }

  section.admin .panel-text {
    padding-left: 0px; }

  section.fack .title {
    float: none;
    text-align: center;
    margin: 0 auto;
    width: auto;
    padding-right: 0px;
    max-width: 340px; }
    section.fack .title h1 {
      text-align: center !important; }

  section.fack .buttonare {
    padding: 20px 0; }

  section.fack button {
    float: none;
    margin: 0 auto;
    display: flex; }

  footer .container {
    overflow: hidden;
    box-sizing: border-box;
    clear: both;
    position: relative;
    width: 100%; }
    footer .container .row {
      margin: 0px; }
  footer .foot-nav-list {
    width: 25%; }
    footer .foot-nav-list:first-child {
      width: 100%;
      float: none;
      padding: 0px 0px 30px 0; }

  section.admin .panel-image {
    padding-top: 30px !important; }

  section.fb {
    padding: 70px 0; }

  section.fb .fb-image img {
    height: auto;
    width: 100%; }

  section.transaction .image-content img {
    max-height: auto;
    width: 100%;
    margin: 0 auto; }

  .fb-image {
    padding: 30px 0 !important; } }
@media screen and (max-width: 750px) {
  footer .foot-nav-list {
    width: 50%; }

  section.list-profile .content-profile {
    min-height: 370px; } }
@media screen and (max-width: 730px) {
  section.list-profile .content-profile {
    min-height: 380px; } }
@media screen and (max-width: 700px) {
  section.list-profile .content-profile {
    min-height: 400px; } }
@media screen and (max-width: 550px) {
  section.list-profile .content-profile .profile-data {
    min-height: 10px; }

  section.list-profile .content-profile {
    min-height: 150px; }

  section.mocup {
    background-size: 90% auto; }

  section.mocup .mocup-image {
    padding-bottom: 50px; }

  section.mocup .modomu-list {
    padding-top: 50px; }

  section.pansos {
    background-size: 90% auto; }

  .content .subtitle {
    max-width: 100%; }

  section.pansos .pansos-content .boxed-list {
    padding-top: 60px; }

  section.banner .static-bg-banner .banner-content {
    padding-top: 30px; }

  section.fack .title h1 {
    font-size: 28px; }

  section.started .stared-text h1 {
    font-size: 28px; }

  .content .title h1 {
    font-size: 35px !important; }

  section.started .stared-text h1 {
    font-size: 28px; }

  .intitle h1 {
    font-size: 38px; } }
@media screen and (max-width: 420px) {
  footer .foot-nav-list {
    width: 100%; }

  section.mocup .page-sub-list .page-head {
    padding: 0px 10px;
    height: 100px; }

  section.mocup .page-sub-list .title-area h2 {
    font-size: 16px; } }

/*# sourceMappingURL=main.style.css.map */
