@import 'variable';
@import 'component.css';

//public

html,body{
	font-family: $opensans;
}
.intitle
				{
					h1{
						font-size: 60px;
						line-height: 1.2;
						font-weight: 600;
						letter-spacing: 1.5px;

					}
					h5{
						font-size: 18px;
						color: #90929E;
						line-height: 1.2;
						font-weight: 500;
						margin-left: 5px;
						letter-spacing: 1.5px;
					}
				}

.content{
	.title{
		max-width: 370px;
		padding:  0 50px  50px 0;
		h1{
			font-size: 42px !important;
			font-weight: 550;
			color: #3E4567;
			line-height: 1.2;
		}
	}
	.subtitle{
		font-size: 16px;
				max-width: 300px;
		p{
			color: #9292A1;
			font-size: 16px;
			font-weight: 500;
			line-height: 1.7;
			letter-spacing: 1.2px;
			font-family: $opensans;

		}

	}
}



	.title-image
	{
		padding: 10px 0;
	img{
		height: 45px;
}	}
//end public




header 
{
	position: fixed;
	width: 100%;
	height: auto;
	box-sizing:border-box;
	clear: both;
	z-index: 9999999;
		@include transition(.3s ease-in-out);	
		padding: 10px 0;
	&.active{
	@include box-shadow(0px 2px 20px 0px rgba(0,0,0,.02));
	max-height: 85px;
	padding: 5px 0;
	background: #fff;

	nav{
		ul{
			li{
				padding: 10px 0px;
				@include transition(.2s ease-in-out);
				&:hover > a
				{
					background: transparent !important;
					
				}
				&.button{
					padding: 0px 0px !important;
					a{
						padding-right: 0px;
					}
					&:hover{
					& a button{
						color: #fff;
						background: #D41555;
						@include transition(.2s ease-in-out);
					}}
				}
			}}}
	.navbar-brand
	{
		padding: 20px 0;
				img{
			height: 27px;
			
		}
	}
	}
	.navbar-brand
	{
		padding: 20px 0;
		@include transition(.3s ease);
		img{

			height: 30px;
			@include transition(.3s ease);

		}
	}
	nav{
		ul{
			li{
				padding: 15px 0px;
				@include transition(.3s ease);

				a{
					text-decoration: none;
					color: $grey;
					font-size: 14px;
					font-family: $opensans;
					font-weight: 600;
					&:hover
					{
						background: transparent !important;
						button{
							color: #fff !important;
						}
					}
					@include transition(.2s ease-in-out);
				}
				&.button{
					padding: 3px 0;
					a{
						padding-right: 0px !important;
					}
					button{
						background: $pink;
						color: #fff;
						padding: 10px 30px;
						font-weight: 600;
						font-size: 14px;
						font-family: $opensans;

					}
				}
			}
		}
	}
}

//banner


section.banner{
	background-image: url(../images/bg-banner-ellipse.png);
	background-position: right top;
	background-size: auto 100% ;
	padding-top: 100px;
	background-repeat: no-repeat;
	overflow: hidden;
	display: block;
	.banner-sub
	{
		padding: 15px 0;
	}
	.banner-button
	{
		padding: 20px 0;
		button{
			background: #223486;
			padding: 15px 40px;
			@include normal-button();
			border-radius: 2.5px;
			font-weight: 550;
			color: #fff;
			font-size: 14px;
			@include transition(.2s ease);
			&:hover{
				background: #10226E;
			}

		}
	}
	.static-bg-banner
	{
		min-height: 700px;
		display: block;
		background-size: 50% auto;
		background-repeat: no-repeat;
		background-position:  center right;
		font-family: $opensans;
		font-weight: 500;
		color: $bluegrey;
		.banner-content
		{
			padding: 100px 0 100px 0;
			.banner-text
			{
				max-width: 340px;
				position: relative;
				z-index: 999;	
				
			}
		}

	}

	.banner-image
	{
		max-height: 700px;
		padding-top: 50px;
		img{
			max-height: 700px;
			float: right;
			position: relative;
			right: -300px;

		}
	}
}

section.about-modomu
{
	background-image: url(../images/bg-merah.png);
	padding: 90px 0 60px 0;
	background-size: auto 100%;
	background-repeat: no-repeat;
	font-family: $opensans;
	background-position: left;
	.intitle
	{
		max-width: 600px;
		margin:0 auto;
		h1{
			font-size: 42px;
			color: #3E4567;

		}
		.subtitle{
			padding-top: 20px;
			p{
				font-weight: 550;
				line-height: 1.7;
				color: #A0A2AD;
			}
		}
		h5{
			font-size: 14px;
			color: #90929E;
			line-height: 1.7;
			letter-spacing: auto;

		}
	}


}

//list-profile
section.list-profile{
	padding: 100px 0;
	.content-profile{
		
		border-bottom: 10px solid transparent;
		border-radius: 2.5px;
		overflow: hidden;
		padding: 40px ;
		box-sizing:border-box;
		@include transition(.4s ease);
		&:hover{
			@include box-shadow(0px 10px 70px 0px rgba(0,0,0,.1));
			border-color: $pink;
		}

		.profile-image
		{
			img{
				height: 45px;		
			}
		}
		.profile-title{
			padding-bottom: 10px;
			h3{
				font-weight: 600;
			color: #42486A;

			}
		}
		.profile-data
		{
			min-height: 130px;
			max-height: 170px;

			color: #A9ACB5;
			p{
				font-size: 14px;
				font-weight: 500;
				line-height: 1.7;
				font-weight: 500;
			}
		}
	}
}	

//pansos
section.pansos	{
background-image: url(../images/bg-merah-besar-kkanan.png);
padding: 90px 0 220px 0;
background-position: top right;
background-size: auto 110%;
background-repeat: no-repeat;
.title{
	max-width: 500px;
	h1{
		line-height: 1.4;
	}
}
.pansos-text
{
	float: left;
	max-width: 400px;
	padding: 200px 0;
	
}
.pansos-content
{
	float: right;
	min-width: 650px;
	padding-right: 7	0px;	
	max-width: 700px;
	.boxed-list
	{
		padding-top: 100px;
		.boxed-content
		{
			padding: 0px 20px;
			&:last-child{
				margin-top: -150px;
			}

			.boxed-area{ 
			display: block;
			.boxed{

padding: 20px 0 ;
.boxed-stat{
	background: #fff;
	padding: 60px 40px  0px 40px;
	box-sizing:border-box;
	min-height: 310px;
	//background: red;
	border-radius: 2.5px;
	overflow: hidden;
	@include box-shadow(0px 0px 60px 0px rgba(0,0,0,.1));

}
				.boxed-image{
					padding-bottom: 30px;
					img{
						height: 40px;
					}
					

				}
				.boxed-text{
					max-width: 100px;
						p{
							font-size: 18px;
							font-weight: 700;
							color: #3E4567;
							line-height: 1.9;
						}
					}

			}

			
			}
		}
	}
}
}

section.admin
{
	margin-top: -50px;
	overflow: hidden;
	padding-bottom: 50px;
	.container{
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		padding: 0px;
	}
	p{
		font-weight: 500;
		line-height: 1.6;
		letter-spacing: 1.2px;
	}
	.container
	{
		overflow: hidden;
	}
	.panel-text
	{
		padding-top: 120px;
		padding-left: 50px;
	}
	.title{
		width: 100%;
		max-width: 500px;
		
	}
	.subtitle{

	}
	.panel-text
	{

	}
	.panel-image
	{
		padding: 0 !important;
		img{
			float: left;
			height: 600px;
		}

	}
}

section.fb{
	padding: 100px 0;
	overflow: hidden;
	.fb-image
	{
		img{
			height: 550px;

			position: relative;

		}
	}

}



section.transaction{
	padding: 100px 0 130px 0;
	overflow: hidden;
	.transtext
	{
		padding-left: 50px;
					padding-top: 50px;
			padding-bottom:50px;

		background: linear-gradient(rgba(252,254,253,.7)   , #fff);
	}
	.image-content
	{
		img{
			max-height: 600px;
			float: left;
		}
	}
}


section.started{
	background-image: url(../images/bg-jpg-merah.jpg);
	background-position: center;
	background-size: cover;
	padding: 100px 0px 50px 0px;
	background-repeat: no-repeat;
	.subtitle
	{
		padding: 20px 0 0 0 ;
		max-width: 850px;
		margin: 0 auto;
	}
	p{
		font-size: 16px;
		color: #CA4C75;
		line-height: 1.7;
	}
	.stared-text
	{
		max-width: 1000px;
		margin:0 auto;

		h1{
			font-size: 40px;
			color: #fff;
			font-weight: 500;
		}
	}
	.button-area
	{
		padding: 50px 0;
		width: 100%;
		button{
			margin:0 auto;
			display: flex;
			background: #fff;
			border:0;
			padding: 15px 40px;
			border-radius: 2.5px;
			overflow: hidden;
			color: #B62852;
			font-size: 14px;
			font-weight: 600;
			@include transition(.2s ease);
			&:hover
			{
				background: #DED5D8;
			}
		}
	}
}


section.about
{
	p{
		line-height: 1.8;
	}
	.about-text
	{
		margin:0 auto;
		max-width: 700px;
		padding: 100px 0;
		div{
			margin:0 auto;
		}
	}
	.title{
		padding: 0px;
		padding-bottom: 20px;
		width: 100%;
		max-width: 100%;

	}
	.subtitle{
		padding-top: 0px;
		width: 100%;
		max-width: 100%;
	}
}

section.mocup{
	background-image: url(../images/circlebg.png);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 950px auto;
	.et-mc-bg-b
{
	background-image: url(../images/bg-merah-kecil.png);
	background-position: right 350px;
	background-repeat: no-repeat;
	background-size: auto 250px ;
}
	.mocup-image
	{padding-bottom: 100px;
		margin-top: -60px;

		img{
			width: 100%;

		}
	}


.modomu-list
{
	padding: 100px 0px 80px 0;
}
	.page-sub-list
	{
		overflow: hidden;
		border:1.2px solid #CDD1D9;
		margin: 30px 0;
		@include transition(.2s ease);
		&.active{
			@include box-shadow(0px 0px 30px 0px rgba(0,0,0,.07));
		}
		.page-head
		{
			padding: 0 30px ;
			height: 100px;
			align-items:center;
			vertical-align: middle;
			display: flex;
			overflow: hidden;
		}
			.title-area
		
		{
			float: left;
			width: calc(100% - 50px);
			padding-right: 20px;
			h2{
				color: #414969;
				font-size: 20px;
				font-weight: 550;
				line-height: 1.2;

			}
		}
		.button-area{
			float: right;
			width: 50px;
			overflow: hidden;
			padding-top: 10px;
			button{
				background: transparent;
				border:none;
				color: #A3A5B0;
				float: right;
				font-size: 16px;
				&:active,&:focus{
					outline: 0;	
				}

			}
		}
	}
	.page-content
	{
		display: none;
		p{
			font-size: 14px;
			padding: 0 30px 30px 30px ;
			letter-spacing: 1.2px;
			line-height: 1.8;
			color: #9597A4;
			font-weight: 50;
			font-weight: 500;
		}
	}
}

section.fack{
	background-image: url(../images/bg-CTA.png);
	padding: 100px 0 80px 0;
	background-position: center;
	background-size: cover;
	.title{
		max-width: 400px;
		h1{
			color: #B00941;
		}
	}
	.buttonare
	{
		padding: 50px 0;
		height: 100%;
		overflow: hidden;
	}
	button{
		padding: 15px 40px;
		background: #B00941;
		border:0;
		overflow: hidden;
		color: #fff;
		font-weight: 600;
		border-radius: 2.5px;
		float: right;
		@include normal-button();
		@include transition(.2s ease);
			&:hover
			{
				background: #9E0035;
			}
	}
}

footer
{
	background: #1A1E29;
	padding-top: 100px;
	.footer-nav
	{
		padding: 0px 0;
		padding-bottom: 50px;
	}
	img{
		height: 30px;
	}
	.footer-line
	{
		background: #222733;
		width: 100%;
		height: 1.2px;
		display: block;
	}
	.foot-nav-list
	{

		float: left;
		width: 20%;
		overflow: hidden;
		ul{
			li{
				padding: 8px 0;
				&:first-child{
					padding-bottom: 15px;
				}
				span{
					font-weight: 600;
					text-transform: uppercase;
					color: #fff;
				}
				a{
					text-decoration: none;
					 color: #787E8A;
					 font-weight: 550;
				}
			}
		}
	}
	.nav-icon
	{
		ul li{
			i{
				color: #fff;
				float: left;
				font-size: 18px;
				width: 25px;
				&.fa-mobile
				{
					font-size: 30px;
				}
			}

			p{
				color: #757B87;
				font-weight: 550;
				&.mobil
				{
					padding-bottom: 0px;
					margin-bottom: 0px;
				}
				&.open
				{
					color:#545961;
					margin-left: 25px;
					padding: 0px;
					font-size: 12px;
					margin-top: 0px;
					margin-bottom: 0px;
				}
			}
		}
	}
	.social
	{
		ul{
			li{
				float: left;
				padding: 0px 10px;
				&:first-child
				{
					padding-left: 0px;
				}
				a{
					text-decoration: none;
					&:hover > i{
						background:#5C6578; 
					}
				}
				i{
					color:  #1A1E29;
									background:#717C92;
									@include transition(.2s ease);

				width: 25px;
				height: 25px;
				align-items:center;
				vertical-align: middle;
				display: flex;
				font-size: 19px;
				padding: 0px 5px;

				}
			}
		}
	}
	.footer-copy
	{
		padding: 35px 0 30px 0;
		p{
			font-size: 14px;
			color: #787E8A;
			font-weight: 550;
		}
	}
}

.planer
{
	padding: 200px 0 100px 0;

}


.plan-list
{
	

font-weight: 550;

	position: relative;
	&.popular
	{
		margin-top: -70px;
		.icon-plan
		{
			background:  #B70B44;
		}
	}
	.icon-plan
	{
		img{
			height: 50px;
			object-fit:cover;
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
		position: relative;
		justify-content:center;
		vertical-align: middle;
			right: 0;
			bottom: 0;
		}
		box-sizing:border-box;
		padding: 20px ;
		display: flex;
		position: relative;
		justify-content:center;
		vertical-align: middle;
		align-items:center;


	}

	.popular-data
	{
		padding: 15px 0;
		width: 100%;
		button{
			@include normal-button();
			border-radius: 25px;
			padding: 10px 50px;
			color: #B70B44;
			display: flex;
			margin: 0 auto;
			background:  #FFDCE8 ;
		}
	}

	.plan-title
	{
		width: 100%;
		text-align: center;
		padding: 50px 0 20px 0;
		font-size: 18px;
		color: #5C5C5C;
		font-weight: 600;
	}

.plan-price
{
	display: block;
	vertical-align: top;
	text-align: center;
	align-items:top;
	padding: 20px 40px;
	justify-content:center;
	padding: 0px 0px 40px 0;
	font-weight: 600;
	position: relative;
	color: #B70B44;
	.money
	{
		font-size: 25px;
		position: relative;
		top: -20px;
	}
	.price
	{
		font-size: 60px;
	}
	.zero
	{
		font-size: 20px;
		position: relative;
		top: -20px;
		margin-left: -5px;
	}
	.month{
		font-size: 14px;
		color: #AFAFAF;
		font-weight: 550;
		margin-left: -45px;
	}
}

.feature-title
{
	padding: 5px 0;
	span{
		color: #B5B6BE;
	}
}

	.button-area
	{
		width: 100%;
		padding: 40px 0 50px 0;
		position: relative;
		align-items:center;
		justify-content:center;
		align-content:center;

		button{
			background: #B70B45;
			@include normal-button();
			margin:0 auto;
			position: relative;
			display: flex;
			justify-content:center;
			color: #fff;
			font-size: 14px;
			padding: 12px 40px;
			border-radius: 25px;

			@include transition(.2s ease-in-out);
			&:hover
			{
				background: #8C0834;
			}
		}
	}

	
	.icon-plan
{
	width: 130px;
	height: 130px;
	background: #FFDCE8 ;
	overflow: hidden;
	border-radius: 100%;
	margin-left: calc(50% - 65px);
	margin-top: -65px;

}

.list-plan{
	padding: 0px 35px;
		border-radius: 2.5px;
			@include box-shadow(0px 0px 60px 0px rgba(0,0,0,.1) );
	background: #fff;
	border: 1px solid #E3E3E9;
}

	.feature-list{

	 ul
	{

		li{
			float: none;
			width: 100%;
			clear: both;
			color: #444A6A;

			overflow: hidden;
			padding: 5px 0;
			font-weight: 550;
			.red{
				color: #B70B45;
				font-style: italic;
			}
			div:first-child
			{
				width: 25px;
				i{
					font-size: 18px;
					color: #2EB679;
				}
			}
			div:last-child{
				width: calc(100% - 25px);
			}
		}
	}}
}




















@media screen and(min-width: 1440px )
{
	header{
//max-width: 1440px;
		margin: 0 auto;
		width: 100%;
		overflow-x: hidden;
	}
	.container-header
	{
		max-width: 1336px;
		overflow: hidden;
		margin: 0 auto;
	}
	body{
		//max-width: 1440px;
		margin: 0 auto;
		overflow-x: hidden;
	}
	section.banner .banner-image img
	{
		margin-right: -100px;
	}
}


@media screen and(max-width: 1200px)
{
	section.list-profile .content-profile
	{
		min-height: 450px;
		max-height: 450px;
	}
	section.pansos
	{
		background-size: auto 800px;
	}
	section.pansos .pansos-text
	{
		//padding: 100px 0 0 0 ;

	}
	section.admin .panel-image img
	{
		height: auto;
		width: 100%;

	}
	section.pansos .pansos-content
	{
		max-width: calc(100% - 400px);
		min-width: calc(100% - 400px);
	}
}

@media screen and(max-width: 1080px)
{
	
	section.pansos .pansos-content
	{
		min-width: 500px;
		max-width: 500px;
	}
	section.pansos .title
	{
		max-width: 370px;
		h1{
			font-size: 35px;
		}
	}
	.content .title h1
	{
		font-size: 35px;
	}
	.content .title
		{
			max-width: 400px;
			padding-right: 0px !important;

	}
	section.pansos .pansos-text
	{
		max-width: 370px;
	}
}


















@media screen and (max-width: 1080) and (min-width:1060px)
{
	.container{
		width: 1020px ;
	}
}
@media screen and(max-width: 999px)
{
	section.banner .banner-image img
	{
		max-height: 600px;
	}
.container-header
{
	padding: 0px 30px;
}
.intitle h1
{
	font-size: 48px;
}

.intitle h5
{
	font-size: 16px;
}
section.transaction .image-content img
	{

		max-height: auto;
		width: 100%;
		

	}
}
@media screen and(max-width: 949px)
{
	section.pansos .pansos-content{
		max-width: calc(100% - 370px);
		min-width: calc(100% - 370px);
	}
}

@media screen and(max-width: 900px)
{
	 .nav>li>a
	 {
	 	padding-left: 10px ;
	 	padding-right: 10px;
	 }
}



@media screen and(min-width: 820px) and (max-width: 1000px)
{
	.container{
		width: 780px
	}
}
@media screen and(min-width: 900px) and (max-width: 1000px)
{
	.container{
		width: 880px
	}
}
@media screen and(max-width: 90px) and (max-width: 1000px)
{
	.container{
		width: 920px
	}
	section.transaction .image-content img
	{

		max-height: auto;
		width: 100%;


	}
	.content .title
	{
		padding-right: 0px;
	}
}

@media screen and(max-width: 991px)
{
	.plan-list
{
	margin: 100px 0 !important;
	li{
		

	}
}


}

@media screen and(max-width: 799px)
{
	 .nav>li>a
	 {
	 	padding-left: 6px ;
	 	padding-right: 6px;
	 }
	 .container-header
	 {
	 	padding: 0px 25px;
	 }
}

@media screen and(max-width: 767px)
{







	.content .subtitle
{
	max-width: 100%;
}
section.transaction .transtext
{
	padding-left: 15px;
	padding-right: 15px;

}
	header , header.active
	{
		position: fixed;
		background: #fff;
		@include box-shadow(0px 2px 20px 0px rgba(0,0,0,.02));
	
		padding: 0px ;
		.navbar
	{
		margin-bottom: 10px;

	}
	.navbar-brand img
	{
		height: 30px;
	}
	.navbar-nav
	{
		
		li,li.button{
			//display: flex;
			padding: 0px;
			align-items:center;
		//justify-content:center;
		//margin:0 auto;	
		float: none;
			//text-align: center;
			a{
				padding-left: 0px;
			}

			&:first-child{
				padding-top: 20px;

				

			}

		}
	}
	}

section.banner .static-bg-banner .banner-content
{
	padding-bottom: 0px;
	padding-top: 70px;
}
	section.banner .static-bg-banner .banner-content .banner-text
	{
		margin: 0 auto;
		*{text-align: center;}
	}
	section.banner .banner-image
	{
		padding-top: 0px;
		overflow: hidden;
		img{
			right: 0px;
			width: 90%;
			position: static;

			@include transform(rotate(22deg));
		}
	}
	.intitle h1
	{
		font-size: 48px;
	}
	.container-header
	{
		padding: 0px 15px;
		background: #fff;

	}
	
	.navbar-toggle
	{
		margin-top: 20px;
		position: relative;
		z-index: 99;
	}
	section.list-profile .content-profile
	{
		min-height: 350px;
	}
	section.list-profile
	{
		padding: 70px 0;
	}
	section.pansos
	{
		padding-bottom: 50px;
	}
	section.pansos .pansos-text
	{
		padding: 0px 0px;
	}
	section.pansos .pansos-content .boxed-list .boxed-content:last-child
	{
		margin-top: 0px;
	}
	section.pansos .pansos-content
	{
		max-width: 100%;
		min-width: 100%;
	}
	section.admin{
.container{
	overflow: hidden;
	padding: 0px 15px;
}
	 .panel-image img
	{
		max-width: 90%;
	}}
	section.admin .panel-text
	{
		padding-left: 0px;
	}
	section.fack .title
	{
		float: none;
		text-align: center;
		margin: 0 auto;
		width: auto;
		padding-right: 0px;
		max-width: 340px;
		h1{
			text-align: center !important;
		}
	}
	section.fack .buttonare
	{
		padding: 20px 0;
	}
	section.fack button
	{
		float: none;
		margin: 0 auto;
		display: flex;
	}
	footer
	{
		.container{
			overflow: hidden;
			box-sizing:border-box;
			clear: both;
			position: relative;
			width: 100%;
			.row{
				margin: 0px;
			}
		}
		.foot-nav-list
	{
		width: 25%;
		&:first-child{
			width: 100%;
			float: none;
			padding: 0px 0px 30px 0;
		}
	}}
	section.admin .panel-image
	{
		padding-top: 30px !important;
	}
	section.fb
	{
		padding: 70px 0;
	}
	section.fb .fb-image img

	{
		height: auto;
		width: 100%;

	}
	section.transaction .image-content img
	{
		max-height: auto;
		width: 100%;
		margin: 0 auto;
	}
	.fb-image
	{
		padding: 30px 0 !important;
	}
	
}

@media screen and(max-width: 750px)
{
	footer .foot-nav-list
	{
		width: 50%;
	}
	section.list-profile .content-profile
	{
		min-height: 370px;
	}

}
@media screen and(max-width: 730px)
{
	section.list-profile .content-profile
	{
		min-height: 380px;
	}
}

@media screen and(max-width: 700px)
{
	section.list-profile .content-profile
	{
		min-height: 400px;
	}
}


@media screen and(max-width: 550px)
{
	section.list-profile .content-profile .profile-data
	{
		min-height: 10px;
	}
	section.list-profile .content-profile
	{
		min-height: 150px;
	}
	section.mocup
	{
		background-size: 90% auto;
	}
	section.mocup .mocup-image
	{
		padding-bottom: 50px;
	}
	section.mocup .modomu-list
	{
		padding-top: 50px;
	}
	section.pansos
	{
		background-size: 90% auto;
	}
	.content .subtitle
	{
		max-width: 100%;
	}
	section.pansos .pansos-content .boxed-list
	{
		padding-top: 60px;
	}

	section.banner .static-bg-banner .banner-content
	{
		padding-top: 30px;
	}
	section.fack .title h1
	{
		font-size: 28px;
	}
	section.started .stared-text h1
	{
		font-size: 28px;
	}
	.content .title h1
	{
		font-size: 35px !important;
	}
	section.started .stared-text h1
	{
		font-size: 28px;
	}
	.intitle h1
	{
		font-size: 38px;
	}

}

@media screen and(max-width: 420px)
{
	footer .foot-nav-list
	{
		width: 100%;
	}
	section.mocup .page-sub-list .page-head
	{
		padding: 0px 10px;
		height: 100px;
	}
	section.mocup .page-sub-list .title-area h2
	{
		font-size: 16px;
	}
}