@import 'variable';
@import 'component.css';

//public

html,body{
	font-family: $opensans;
	overflow-x:hidden;
}
.intitle
				{
					h1{
						font-size: 60px;
						line-height: 1.2;
						font-weight: 600;
						letter-spacing: 1.5px;

					}
					h5{
						font-size: 18px;
						color: #90929E;
						line-height: 1.2;
						font-weight: 500;
						margin-left: 5px;
						letter-spacing: 1.5px;
					}
				}

.content{
	.title{
		max-width: 370px;
		padding:  0 50px  50px 0;
		h1{
			font-size: 42px !important;
			font-weight: 550;
			color: #3E4567;
			line-height: 1.2;
		}

	}
	p{
		color: #32394E;
	}
	.subtitle{
		font-size: 16px;
				max-width: 300px;
		p{
			color: #9292A1;
			font-size: 16px;
			font-weight: 500;
			line-height: 1.7;
			letter-spacing: 1.2px;
			font-family: $opensans;

		}

	}
}



	.title-image
	{
		padding: 10px 0;
	img{
		height: 45px;
}	}

a{
		color: #1A2E40;
		text-decoration: none;
	}

//end public




header 
{
	position: fixed;
	width: 100%;
	background: #fff;
	height: auto;
	box-sizing:border-box;
	clear: both;
	max-height: 90px;
	z-index: 9999999;
		@include transition(.3s ease-in-out);	
		padding: 10px 0;
	&.active{
	@include box-shadow(0px 2px 20px 0px rgba(0,0,0,.02));
	max-height: 85px;
	padding: 5px 0;
	background: #fff;

	nav{
		ul{
			li{
				padding: 10px 0px;
				@include transition(.2s ease-in-out);
				&:hover > a
				{
					background: transparent !important;
					
				}
				&.button{
					padding: 0px 0px !important;
					a{
						padding-right: 0px;
					}
					&:hover{
					& a button{
						color: #fff;
						background: #fa0069;
						@include transition(.2s ease-in-out);
					}}
				}
			}}}
	.navbar-brand
	{
		padding: 20px 0;
				img{
			height: 40px;
			
		}
	}
	}
	.navbar-brand
	{
		padding: 15px 0;
		@include transition(.5s ease);
		img{

			height: 50px;
			@include transition(.5s ease);

		}
	}
	nav{
		ul{
			li{
				padding: 15px 0px;
				@include transition(.3s ease);

				a{
					text-decoration: none;
					color: $grey;
					font-size: 14px;
					font-family: $opensans;
					font-weight: 600;
					&:hover
					{
						background: transparent !important;
						button{
							color: #fff !important;
						}
					}
					@include transition(.2s ease-in-out);
				}
				&.button{
					padding: 3px 0;

					a{
						padding-right: 0px !important;
					}
					button{
						background: #fa0069;
						color: #fff;
						padding: 10px 30px;
						font-weight: 600;
						font-size: 14px;
						font-family: $opensans;
						@include normal-button();
						&:active{
							
						}

					}
				}
			}
		}
	}
}


.colum-container
{
	overflow: hidden;
}

.analistic
{
	padding-top: 0px;
	//margin-top: -300px;
	.container.image
	{
		margin-top: -220px;
		img{
			position: relative;
			z-index: 9999;
		}
	}
}
.row-data-false-container
{
	width: 100%;
	clear: both;
	height: 200px;
	display: block;
	background: $semigrey;
}



//construktor

section,.row-content{
	padding: 70px 0;
	 line-height: 2;
	 &.internet{
	 	padding-bottom: 0px;
	 	
	 }
}

.image-container
{
	&.illustration
	{
		//background: red;
		overflow: hidden;
		clear: both;
		justify-content:center;
		display: flex;
		align-items:center;

	}

	width: 100%;
	overflow: hidden;
	&.sub-container
	{
		padding-left: 40px;
	}
	img{
		width: 100%;
		height: auto;
	}
	&.illustration
	{
		padding: 0px 80px;
		img{
			margin: 0 auto;
		}
		&.mini {
			padding: 0px 100px;
		}
	}
}

.subtitle
{
	font-size: 16px;
}
.title-semi
{
	padding: 20px 0;
	h2{
		font-weight: 600;
	}
}

.container-title
{
max-width: 600px;
margin: 0 auto;
padding: 40px 0;
h2{
	font-weight: 650;
}
.con-title
{
	h2{
		font-weight: 650;
	}
}


}

.container-content	
{
	&.sub-container
	{
		padding-left: 20px;
	}
	&.no-container
	{
		padding-left: 20px;
	}
	&.no-container-right
	{
		padding-right: 20px;
	}
	&.for-bg
	{
		padding-top: 70px;
	}
	h2{
		font-weight: 800;
	}

}


.image-container:not(.illustration)
{.sub-container-image
	{
		width: 100%;
		//background: red;
		overflow: hidden;
		//box-sizing:border-box;
		height: 100%;
		&.left{
			padding: 40px 20px 40px 0px; 
			img{
			@include box-shadow(-9px 0px 40px 0px  rgba(0,0,0,.3));
			}
		}
		&.right
		{
			padding: 40px 0px 40px 20px; 
			img{
			@include box-shadow(9px 0px 40px 0px  rgba(0,0,0,.3));
			}
		}
		

	}
}

.content-sett
{
	&.left{
		padding-left: 100px;

	}
	&.right{
		padding-right: 100px;

	}
}
.block-confirm
{
	padding: 10px;
	width: 100%;
	background: $semiblue;
	p{
		font-size: 14px;

	}
}
.list-content
{
	padding: 30px 0;
	font-size: 16px;
	line-height: 2;
	font-weight: 500;
	  text-align: justify;
	ul{
		li{
			width: 100%;
			overflow: hidden;
			padding: 10px 0;
			overflow: hidden;
			box-sizing:border-box;
			position: relative;
			line-height: normal;
			&.blue{
				.rec{
					background: $semiblue !important;
				span{
					color: #2E354B;
				}
				}
			}

			.rec{
				font-size: 16px;
				color: $pink;
				font-weight: 600;
				background: $semipink;
				height: 40px;
				width: 40px;
				align-content:center;
				justify-content:center;
				border-radius: 2.5px;
				vertical-align: middle;
				align-item:center;
				text-align: center;
				justify-content:center;
				display: flex;
				position: relative;
				span{
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
									display: flex;
					bottom: 0;
					vertical-align: middle;
					align-items:center;
					margin:0 auto;
					justify-content:center;

				}

			}
			.content-list
			{
				float: left;
				width: calc(100% - 40px);
				padding-left:10px;
				vertical-align: middle;
				display: flex;
				vertical-align: middle;

				align-items:center;
				justify-content:midle;
				p{
					color: #32394E;
				}

			}
		}
	}
}	

.meta-list
{
	padding: 20px 20px;
}

.list-container
{background: #F9FAFC;
	min-height: 300px;
	padding: 20px 20px;
	@include box-shadow( 0 20.5px 16px -14.5px rgba(0,0,0,.1));
	.list-title
	{
		padding: 10px 0;
		h4{
			font-weight: 600;
		}
	}
	.container-icon
	{
justify-content:center;
display: flex;
.icon
{
	height: 80px;
	width: 80px;
	border-radius: 100%;
	overflow: hidden;
	padding: 20px;
	background: #DBE9F0;

	@include box-shadow(0px 5px 20px 0px rgba(0,0,0,.1));

	img{
		width: 100%;

	}
}


	}
}

//banner


section.banner{
	
	background-position: right top;

	background-repeat: no-repeat;
	overflow: hidden;
	display: block;
	padding-bottom: 0px;
		padding-top: 85px;

	div.banner-bg
	{
		background-image: url(../images/bg-header.png);
			background-size: auto 100% ;
	padding: 90px 0 90px 0;

	background-size: cover;
	background-position: center right;
	h1
	{
		font-weight: 600;
	}
	.banner-title
	{
		max-width: 550px;
		margin: 0 auto;


	}
	}	

}



	

footer
{
	background: #1A1E29;
	padding-top: 100px;
	.footer-nav
	{
		padding: 0px 0;
		padding-bottom: 50px;
	}
	img{
		height: 30px;
	}
	.footer-line
	{
		background: #222733;
		width: 100%;
		height: 1.2px;
		display: block;
	}
	.foot-nav-list
	{

		float: left;
		width: 20%;
		overflow: hidden;
		ul{
			li{
				padding: 8px 0;
				&:first-child{
					padding-bottom: 15px;
				}
				span{
					font-weight: 600;
					text-transform: uppercase;
					color: #fff;
				}
				a{
					text-decoration: none;
					 color: #787E8A;
					 font-weight: 550;
				}
			}
		}
	}
	.nav-icon
	{
		ul li{
			i{
				color: #fff;
				float: left;
				font-size: 18px;
				width: 25px;
				&.fa-mobile
				{
					font-size: 30px;
				}
			}

			p{
				color: #757B87;
				font-weight: 550;
				&.mobil
				{
					padding-bottom: 0px;
					margin-bottom: 0px;
				}
				&.open
				{
					color:#545961;
					margin-left: 25px;
					padding: 0px;
					font-size: 12px;
					margin-top: 0px;
					margin-bottom: 0px;
				}
			}
		}
	}
	.social
	{
		ul{
			li{
				float: left;
				padding: 0px 10px;
				&:first-child
				{
					padding-left: 0px;
				}
				a{
					text-decoration: none;
					&:hover > i{
						background:#5C6578; 
					}
				}
				i{
					color:  #1A1E29;
									background:#717C92;
									@include transition(.2s ease);

				width: 25px;
				height: 25px;
				align-items:center;
				vertical-align: middle;
				display: flex;
				font-size: 19px;
				padding: 0px 5px;

				}
			}
		}
	}
	.footer-copy
	{
		padding: 35px 0 30px 0;
		p{
			font-size: 14px;
			color: #787E8A;
			font-weight: 550;
		}
	}
}



.list-data-container
{
	width: 100%;
	padding: 0px 0px 0px 0;
	clear: both;
	border:0;
	border-bottom: 2.3px solid #e5eaf6;
	.semi-container-list
	{
		
		align-items:center;
		justify-content:center;
		left: 0;
		right: 0;
		position: relative;
		margin:0 auto;
		display: flex;
	}



	.list-data-service
	{
		width: auto;
		position: relative;
		padding: 0px 20px 0 0;
		float: left;
		margin-bottom: -2.3px;
		border-bottom: 2.3px solid transparent;
		display: flex;

		&.active{
			&:after{
				//content: "";
				position: absolute;
				bottom: -12px;
				right: 0;
				background: $pink;
				display: block;
				height: 2px;
				z-index: 99;
				overflow: hidden;
				width: 100%;
			}
			border-bottom: 2.3px solid $pink;

		}
		.data-icon
		{
			height: auto;
			float: left;
					width: 30px;

			img{
				margin: 0 auto;
				max-height: 20px;
				font-weight:500; 
				max-width: 20px;
			}

		}
		.data-text
		{
			width: calc(100%-30px);
			align-items:center;
			padding: 5px;
			vertical-align: middle;
			display: flex;
			position: relative;
			
			p{
				color: #8d8f9c;
				font-size: 14px;
				padding-top: 13px;
				letter-spacing:normal;
				line-height: normal;
				position: relative;
				display: flex;

				text-align: justify;
				word-break:break-all;
			}
		}
	}
}


@media screen and(min-width: 1440px )
{
	header{
//max-width: 1440px;
		margin: 0 auto;
		width: 100%;
		overflow-x: hidden;
	}
	.container-header
	{
		max-width: 1336px;
		overflow: hidden;
		margin: 0 auto;
	}
	body{
		//max-width: 1440px;
		margin: 0 auto;
		overflow-x: hidden;
	}	
	.semi-content {
		clear: both;
		max-width: 1440px;
		position: relative;
		margin: 0 auto;
		display: flex;
		@include overflow-x(hidden);
	}
}

@media screen and (max-width: 1070px)
{
.list-data-container .list-data-service
{
	display: block;padding-bottom: 0px 2px;
	overflow: hidden;
}
	.list-data-container .list-data-service .data-icon
	{
		
		//display: flex;
		width: 100%;
		display: block;
		align-items:center;
		justify-content:center;
		overflow: hidden;
		max-height: 20px;
		overflow: hidden;min-height: 20px;	
		position: relative;
		display: flex;
		img{
			margin:0 auto;
			position: relative;


		}
	}
	.list-data-container .list-data-service .data-text{
		
		width: 100%;


	}
}

@media screen and (max-width: 1175px)
{
	.data-icon
	{
		width: 15px;
	}
	.list-data-container .list-data-service
	{
		padding: 0px 5px;
	}
	.list-data-container .list-data-service .data-text
	{
		padding-left: 0px;
		padding-right: 0px;
	}
	.image-container.illustration
	{
		padding: 0px 0px;
	}
}



@media screen and(max-width: 1017px)
{
	.list-data-container
	{
		
	}
	.list-data-container .semi-container-list
	{
		justify-content:center;
		display: flex;
		align-items:center;
	}
	.list-data-container .list-data-service
	{
		float: left;
		padding:15px 0;
		overflow: hidden;
		width: 50%;
		border-style: inset;
		border-left: 0;
		display: flex;
		align-items:center;
		justify-content:center;
		border-right: 20px;
		padding-left: 20px;
		border-top: 0;	
		border-bottom: 2.3px solid #e5eaf6;
	}

	.list-data-container .list-data-service .data-icon
	{
		float: left;
		width: 30px;
		padding-top: 3px;
		position: relative;
		max-height: 30px;
	}
	
	.list-data-container .list-data-service .data-text
	{
		width: calc(100% - 30px);
	}
}


@media screen and(max-width: 991px)
{
	.content-sett
{
	&.left{
		padding-right: 100px;
		padding-left: 100px;

	}
	&.right{
		padding-right: 100px;
		padding-left: 100px;

	}
}
.container-content.no-container
{
	padding-left: 0px;
}
.container-content.no-container-right
{
	padding-right: 0px;
}



.image-container:not(.illustration)
{.sub-container-image
	{
		width: 100%;
		//background: red;
		overflow: hidden;
		//box-sizing:border-box;
		overflow: hidden;
		box-sizing:border-box;
		height: 100%;
		&.left{
			padding: 30px 85px;
			img{
			@include box-shadow(0px 0px 40px 0px  rgba(0,0,0,.3));
			}
		}
		&.right
		{
			padding:30px 85px;
			img{
			@include box-shadow(0px 0px 40px 0px  rgba(0,0,0,.3));
			}
		}
		

	}


}

.image-container.illustration
{
	padding: 50px  0;
	clear: both;
	img{
		max-width: 500px;
	}
}

section, .row-content{
	padding: 40px 0;

}

.list-content.for-data
{
	float: none;
	width: 100%;
	margin:0 auto;
	position: relative;
	juetify-content:center;
	align-content:center;
	align-items:center;
	display: flex;
	ul{
		
		justify-content:center;
		margin:0 auto;

	}

}
.tocenter
{
	h2{
		text-align: center !important;
	}
}

}



@media screen and(max-width: 900px)
{
	 .nav>li>a
	 {
	 	padding-left: 10px ;
	 	padding-right: 10px;
	 }
}



@media screen and(max-width: 799px)
{
	 .nav>li>a
	 {
	 	padding-left: 6px ;
	 	padding-right: 6px;
	 }
	 .container-header
	 {
	 	padding: 0px 25px;
	 }
}

@media screen and(max-width: 767px)
{
	section.banner
	{
		padding-top: 65px;
	}
	.content .subtitle
{
	max-width: 100%;
}
section.transaction .transtext
{
	padding-left: 15px;
	padding-right: 15px;

}
	header , header.active
	{
		position: fixed;
		background: #fff;
		@include box-shadow(0px 2px 20px 0px rgba(0,0,0,.02));
	
		padding: 0px ;
		.navbar
	{
		margin-bottom: 10px;

	}
	.navbar-brand img
	{
		height: 30px;
	}
	.navbar-nav
	{
		
		li,li.button{
			//display: flex;
			padding: 0px;
			align-items:center;
		//justify-content:center;
		//margin:0 auto;	
		float: none;
			//text-align: center;
			a{
				padding-left: 0px;
			}

			&:first-child{
				padding-top: 20px;

				

			}

		}
	}
	}


	.intitle h1
	{
		font-size: 48px;
	}
	.container-header
	{
		padding: 0px 15px;
		background: #fff;

	}
	
	.navbar-toggle
	{
		margin-top: 20px;
		position: relative;
		z-index: 99;
	}
	
	footer
	{
		.container{
			overflow: hidden;
			box-sizing:border-box;
			clear: both;
			position: relative;
			width: 100%;
			.row{
				margin: 0px;
			}
		}
		.foot-nav-list
	{
		width: 25%;
		&:first-child{
			width: 100%;
			float: none;
			padding: 0px 0px 30px 0;
		}
	}}
	

	footer .foot-nav-list
	{
		width: 50%;
	}
	.content-manager
	{
		padding-left: 50px !important;
		padding-right: 50px !important;
		box-sizing:border-box;
	}



	


a{
	text-decoration: none;
	color: #2A3147;
	&:hover
	{
		color: #2A3147;
	}
	&:focus{
		color: #2A3147;
	}
	&:active{
		color: #2A3147;
	}
}
b {
	text-decoration: underline;
}

.container-content h2
	{
		font-size: 26px;
		font-weight: 650;
	}
}
.title-semi h2
{
	font-size: 26px;
}





@media screen and(max-width: 730px)
{
	section.list-profile .content-profile
	{
		min-height: 380px;
	}
}

@media screen and(max-width: 700px)
{
	section.list-profile .content-profile
	{
		min-height: 400px;
	}
	.container-title
	{
		max-width: 100%;
		width: 100%;
		padding: 0px 50px;
	}
}


@media screen and (max-width: 600px)
{

.image-container:not(.illustration)
{.sub-container-image
	{
		width: 100%;
		//background: red;
		overflow: hidden;
		//box-sizing:border-box;
		height: 100%;
		&.left{
			padding: 40px 20px; 
		
		}
		&.right
		{
			padding: 40px 20px ; 
			
		}
		

	}
}
}

@media screen and(max-width: 550px){
	.list-content.for-data ul
	{
		margin: 0 0;
	}
	.container-content h2
	{
		text-align: left !important;
	}
	.content-manager
	{
		padding-left: 25px;
		padding-right: 25px;
	}
	section, .row-content
	{
		padding: 20px 0;
	}
	.container-content.for-bg
	{
		padding-top: 0px;
	}
	.content-sett.left
	{
		padding-left: 25px;
		padding-right: 25px;
	}
	.list-data-container .list-data-service .data-text
	{
		padding-top: 20px;
		padding-left: 20px;
	}
	.list-data-container .list-data-service
	{
		width: 100%;
		padding-left: 25px;
		padding-right: 25px;
		border-bottom: 2.3px solid #e5eaf6;
	}
	.container-content.sub-container
	{
		padding-left: 0px;
	}
}


@media screen and(max-width: 450px)
{
	.image-container.illustration
	{
		padding: 0px 0px;
	}
	.image-container.illustration.mini
	{
		padding: 0px 25px;
	}
	footer .foot-nav-list
	{
		width: 100%;
	}
	section.mocup .page-sub-list .page-head
	{
		padding: 0px 10px;
		height: 100px;
	}
	section.mocup .page-sub-list .title-area h2
	{
		font-size: 16px;
	}
	.container-title
	{
		padding: 0px 20px;
	}
	.content-manager
	{
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	.container-content h2
	{
		font-size: 24px;
		font-weight: 650;
	}
	
	.title-semi h2
	{
		font-size: 24px;
	}
	.row{
		margin: 0 !important;
	}
	.container{
		padding: 0;
	}
	.content-sett.left
	{
		padding-left: 20px;
		padding-right: 20px;
	}

	footer{
		.container{
			padding: 0px 25px;
		}
	}

}





///media query 

