@import 'mixin';
$opensans : 'Open Sans', sans-serif;
$pink : #FA0069;
$grey : #8F92A0;
$bluegrey:#3E4466;
$blue : #223486;
$texttitle:#474E6E;
$textpharragraph:#999CA8;
$semipink : #FFF1F7;
$semiblue :  #e5eaf6;
$semigrey :#FBFBFB;
$white:#fff;
.grey{
	background: $semigrey;
	&.gradient
	{
		background: linear-gradient($white, $semigrey);

	}
}